.eciaoLists,button.eciaoLists{background-image:url(../images/my/ec0000.png);}
.eciok,button.eciok{background-image:url(../images/my/ec0001.png);}
.eciTools,button.eciTools{background-image:url(../images/gears.png);}
.eciOrganizer,button.eciOrganizer{background-image:url(../images/my/ec0010.png);}
.eciQuickFind,button.eciQuickFind{background-image:url(../images/my/ec0011.png);}
.eciFrontDesk,button.eciFrontDesk{background-image:url(../images/my/ec0012.png);}
.eciPickTheme,button.eciPickTheme{background-image:url(../images/my/ec0052.png);}
.eciCalendar,button.eciCalendar{background-image:url(../images/my/ec0054.png);}
.eciWhereUsed,button.eciWhereUsed{background-image:url(../images/my/ec0040.png);}
.eciHistory,button.eciHistory{background-image:url(../images/my/ec0038.png);}
.eciHistoryAdd,button.eciHistoryAdd{background-image:url(../images/my/ec0037.png);}
.eciAttach,button.eciAttach{background-image:url(../images/my/ec0036.png);}
.eciDMerge,button.eciDMerge{background-image:url(../images/my/ec0035.png);}
.eciDMergeW,button.eciDMergeW{background-image:url(../images/my/ec0034.png);}
.eciFMerge,button.eciFMerge{background-image:url(../images/my/ec0033.png);}
.eciFYI,button.eciFYI{background-image:url(../images/my/ec0032.png);}
.eciPDF,button.eciPDF{background-image:url(../images/my/ec0056.png);}
.eciWord,button.eciWord{background-image:url(../images/my/ec0058.png);}
.eciDocMgr,button.eciDocMgr{background-image:url(../images/my/ec0061.png);}
.eciExternal,button.eciExternal{background-image:url(../images/my/ec0063.png);}
.eciDMNSion,button.eciDMNSion{background-image:url(../images/my/ec0064.png);}
.eciAdd,button.eciAdd{background-image:url(../images/my/ec0014.png);}
.eciDelete,button.eciDelete{background-image:url(../images/my/ec0013.png);}
.eciphonemsgs,button.eciphonemsgs{background-image:url(../images/my/ec0020.png);}
.ecittd,button.ecittd{background-image:url(../images/my/ec0021.png);}
.ecimemos,button.ecimemos{background-image:url(../images/my/ec0022.png);}
.eciappointments,button.eciappointments{background-image:url(../images/my/ec0023.png);}
.eciaddress,button.eciaddress{background-image:url(../images/my/ec0024.png);}
.ecinotepad,button.ecinotepad{background-image:url(../images/my/ec0057.png);}
.eciworkproduct,button.eciworkproduct{background-image:url(../images/my/ec0026.png);}
.eciOK,button.eciOK{background-image:url(../images/my/ec0030.png);}
.eciCancel,button.eciCancel{background-image:url(../images/my/ec0031.png);}
.eciSave,button.eciSave{background-image:url(../images/my/ec0043.png);}
.eciSaveAs,button.eciSaveAs{background-image:url(../images/my/ec0016.png);}
.eciGAdd,button.eciGAdd{background-image:url(../images/add.png);}
.eciGRemove,button.eciGRemove{background-image:url(../images/remove.png);}
.eciWorkflow,button.eciWorkflow{background-image:url(../images/my/ec0041.png);}
.eciBell,button.eciBell{background-image:url(../images/my/ec0048.png);}
.eciInfo,button.eciInfo{background-image:url(../images/my/ec0049.png);}
.eciDocumentMgmt,button.eciDocumentMgmt{background-image:url(../images/my/ec0050.png);}
.eciNew,button.eciNew{background-image:url(../images/my/ec0053.png);}
.eciInput,button.eciInput{background-image:url(../images/my/ec0055.png);}
.eciGridRowAdd,button.eciGridRowAdd{background-image:url(../images/my/ec0059.png);}
.eciGridRowDel,button.eciGridRowDel{background-image:url(../images/my/ec0060.png);}
.eciQMSend,button.eciQMSend,.eciQM,button.eciQM{background-image:url(../images/my/ec0051.png);}
.eciWho,button.eciWho,.eciassociates,button.eciassociates{background-image:url(../images/my/ec0039.png);}
.eciReports,button.eciReports,.eciView,button.eciView{background-image:url(../images/my/ec0015.png);}
.ext-mb-qm{background:transparent url(../images/my/qm.gif) no-repeat top left;}
.ext-mb-aolists{background:transparent url(../images/my/aolists.gif) no-repeat top left;}
